// @import '../font/stylesheet.css'

// // reset
// body
// p
// h1
// figure
//   margin 0
// button
//   border 0
// *
//   box-sizing border-box
//   -webkit-font-smoothing antialiased
//   line-height 1
// svg
//   vertical-align top


// // vars
// main-color = #5551FF

// // general
// body
//   font-family 'Whyte'


// // buttons
// button
//   background main-color
//   color white
//   font-family 'Whyte'
//   padding 18px 24px 12px
//   border-radius 10px
//   font-size 1rem
//   font-weight 700
//   &.black
//     background #000


// // header
// header
//   padding 24px 32px
//   display flex
//   align-items center
//   figure
//     flex 1
//     svg
//       width 32px
//   i
//     margin-left 24px

// // main
// main
//   padding 0 32px
//   padding-top 29px
//   h1
//     font-size 2.25rem
//     font-weight 400
//     letter-spacing -0.04em
//     line-height 1.1
//     b
//       color main-color
//   button
//     margin-top 18px

//   p
//     &.c
//       text-align center

// .marquee
//   display flex
//   overflow hidden
//   gap 40px
//   margin-top 32px
